:root {
  --border: 1px solid black;
  --fontsize: min(40pt, 20vmin);
  --sqwidth: min(150px, 30vmin);
}

* {
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: calc(var(--sqwidth) * 3);
  margin: 0 auto;
  text-align: center;
}

.board {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, var(--sqwidth));
  grid-template-rows: repeat(3, var(--sqwidth));
}

.xos {
  width: 90%;
  height: 90%;
  margin: 5% auto;
  font-size: var(--fontsize);
  line-height: calc(.90 * var(--sqwidth));
  -o-transition:.5s;   
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

.selectable {
  background-color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

@media (hover: hover) and (pointer: fine) {
  .selectable:hover {
    background-color: rgba(200,200,200,0.3);
  }  
}

.cell {
  text-align: center;
}

.cell:nth-of-type(-n+3) {
  border-bottom: var(--border);
}

.cell:nth-of-type(3n+1) {
  border-right: var(--border);
}

.cell:nth-of-type(3n) {
  border-left: var(--border);
}

.cell:nth-of-type(n+7) {
  border-top: var(--border);
}

.panel {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.button {
  display: inline-block;
  width: calc(var(--sqwidth) / 3);
  height: calc(var(--sqwidth) / 3);
  line-height: 100%;
  font-size: 30pt;
  color: lightgray;
  padding: 5px 20px 5px 20px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

.button:hover {
  color: black;
}


.scoreboard {
  width: 100%;
  /*margin-top: 10px;*/
  table-layout: fixed;
  border: none;
  font-size: 20pt;
  font-style: bold;
  text-align: center;
}

th {
  line-height: var(--fontsize);
}

tr {
  width: calc(100% / 3);
}


.footer {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
